@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    @apply font-body text-base;
  }
  h1,
  h2 {
    @apply font-heading text-7xl;
  }
  h3 {
    @apply font-heading  text-4xl;
  }
  p,
  span,
  li {
    @apply font-body text-base;
  }
}

@layer utilities {
  .container {
    @apply w-full px-[1.88rem]   laptop:px-[1.88rem]  max-w-[90rem] mx-auto box-border;
  }
  .text-gradient {
    background: linear-gradient(to right, #3d8bff 10%, #ab23ff 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .button {
    background: linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%);
  }
  .hero-gradient {
    background: linear-gradient(
      175deg,
      #ab23ff 4.29%,
      #3d8bff 47.39%,
      #000 95.05%
    );
    mix-blend-mode: soft-light;
  }
  .bg-gradient {
    background: linear-gradient(
      175deg,
      rgba(171, 35, 255, 1) 4.29%,
      rgba(61, 139, 255, 1) 47.39%,
      rgba(0, 0, 0, 1) 95.05%
    );
  }
  .divider {
    @apply w-full h-[0.0625rem] bg-grey;
  }
}
